*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.rank{
    width: 100%;
    height: 25rem;
}
.rank ul{
    width: 100%;
    height: 2rem;
    margin-left: 4.5rem;
    margin-top: .5rem;
}
.rank ul li{
    float: left;
    width: 20%;
    height: 2rem;

}
.rank ul li a{
    display: block;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border: 1px #f04442 solid;
    color: #f04442;
    text-decoration: none;
    background: #ffeeef;
    border-radius: .3rem;
}
.rank ul li .du{
    background:#f04442 ;
    color: white;
}